.css-1l7c0cy{
    position: relative;
    height: 100%;
    width: 100%;
}
.corousel{
    text-align: center;
}
.review-counter{
    text-align: center;
}
.review-counter .card{
    display: block;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
}
.review-body > div{
    justify-content: center !important;
}
.Block-1, .Block-2{
    margin-bottom: 20px;
}
.Block-2{
    display: flex;
}

.submitDialog{
    display: flex;
    flex-direction: column;
}
.submitDialog textarea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin:15px 0 0 0;
    outline: none;
    padding:1rem;
}
.actions .btn{
    background-color: #333;
    padding: 10px 20px;
    border: none;
    color:#fff;
    border-radius: none;

}
.actions .btn:hover{
    background-color: red;
    
}